<div class="container footer-top">
    <div>
        <div>
            <div>
                <h3>Serving</h3>
                <ul>
                    <li>Bluffdale</li>
                    <li>Draper</li>
                    <li>Herriman</li>
                    <li>Midvale</li>
                    <li>Sandy</li>
                    <li>South Jordan</li>
                    <li>West Jordan</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container footer-bottom">
    <div>Copyright ©{{ 'now' | date: "%Y" }} <a href="https://github.com/Mountainview-WebDesign">Mountainview Web Design</a>- hosted by <a href="https://github.com/Mountainview-WebDesign/browningspeech">Github Pages</a></div>
</div>

