body {
	color: #A19D9D;
	background-color: #35b2b2;
	background: #35b2b2 url("/assets/img/background-pattern.png");
	line-height: 1.5;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
}
.ch-content-top-edge {
	margin-top: -62px;
	margin-left: -15px;
	margin-right: -15px;
	z-index: 100;
	height: 68px;
	background: url("/assets/img/content-top-edge.png") repeat-x;
}
.container {
	max-width: 980px;
	background-color: #FFF;
}
.main-content {
	background: #f7f6f4 url("/assets/img/content-bg.png");
}
